:root {
}

@font-face {
  font-family: "MJH-Regular";
  src: url("../../public/fonts/MJH-100-Regular.otf");
}

@font-face {
  font-family: "MJH-Medium";
  src: url("../../public/fonts/MJH-190-Bold.otf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  color: inherit;
  background: inherit;
}

html,
body {
  max-width: 100vw;
  font-family: "MJH-Medium";
  font-size: 10pt;
  line-height: 13pt;
  word-spacing: -0.5px;
  letter-spacing: 0.2px;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100svh;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.listWrapper {
  display: grid;
  padding: 15px;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  width: 100%;
  height: 100%;
  cursor: default;
  z-index: 20000;
  position: fixed;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  pointer-events: none;
}

.listWrapper li {
  display: flex;
  pointer-events: auto;
  height: 20px;
}

.listWrapper li:first-of-type {
  /* font-family: "MJH-Medium"; */
  cursor: default;
}

.grid-4fr {
  grid-column: span 4; /* Spans 4 columns */
  display: inline;
}

.grid-3fr {
  grid-column: span 3; /* Spans 3 columns */
  display: inline;
}

.grid-2fr {
  grid-column: span 2; /* Spans 3 columns */
}

.year {
  width: 80px;
  display: block;
}

.link:hover,
.navigation:hover {
  opacity: 0.2;
}

.navigation {
  z-index: 40000;
  position: fixed;
  top: 25px;
  right: 15px;
  font-size: 50px;
  pointer-events: auto;
  cursor: pointer;
}

.imgWrapper {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.sliderWrapper {
  width: 100vw;
  z-index: 10000;
}

.backButton {
  opacity: 0.2;
  pointer-events: auto;
}

.backButton:hover {
  opacity: 1;
}

.about__wrapper {
  padding-top: 10px;
  padding-left: 15px;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.8px;
}

.about__copyright {
  position: fixed;
  bottom: 15px;
}

.mobileOnly {
  display: none;
}
.navigation {
  color: white;
  mix-blend-mode: difference;
}

@media screen and (max-width: 1400px) {
  body {
    font-size: 8pt;
    line-height: 11pt;
  }
  .listWrapper li {
    height: 15px;
  }
}

@media screen and (max-width: 950px) {
  .listWrapper {
    display: flex;
    flex-direction: column;
  }
  .clientList {
    display: none;
  }
  .mobileOnly {
    display: block;
  }
  .desktopOnly {
    display: none;
  }

  .mobileBottom {
    position: fixed;
    bottom: 15px;
    width: 100vw;
    display: flex;
  }
  .mobileBottom .grid-2fr {
    width: 50%;
  }
  .about__wrapper {
    font-size: 32px;
    line-height: 36px;
  }
}
